body{
    background-image: url(../Pix/Stronger.jpg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}
nav {
  display: inline-block;
  padding: 15px 20px;
}
nav a {
  display: inline-block;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 5px;
  border-radius: 15px;
}
nav a:hover {
  transition: 0.25s;
  cursor: pointer;
  background-color: black;
  color: white;
}
.title{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    margin-top: 0;
    margin-right: 400px;
    padding: 10px;
    font-size: 40px;
}
.con{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: 100px;
    margin-left: 200px;
}
.phone{
    display: inline-block;
    color: white;
    width: 67px;
    margin-left: 100px;
    vertical-align:bottom;
}
.num{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: inline-block;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 0;
}
.mail{
    display: inline-block;
    color: white;
    width: 67px;
    margin-left: 400px;
    vertical-align:bottom;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: inline-block;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 0;
}
.credits{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;
    top: 900px;
    left: 850px;
}
@media(max-width: 480px){
    @media(max-width: 720px){
    body {
    font-size: 10px;
    background-image: url(../Pix/Stronger.jpg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 125vh;
  }
  .title{
    font-size: 30px;
    display: block;
    width: 100%;
  }
  nav {
    display: inline-block;
    padding: 5% 3%;
    padding-left: 1%;
    width: 100%;
  }
  nav a {
    display: inline-block;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 3%;
    margin-right: 1%;
    width: 30%;
    border-radius: 15px;
  }
  .con{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 5%;
}
.phone{
    display: block;
    color: white;
    width: 20%;
    margin-left: 5%;
}
.num{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: inline-block;
    font-size: 350%;
    width: 50%;
    margin-bottom: 10%;
}
.mail{
    display: block;
    color: white;
    width: 20%;
    margin-left: 7%;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: inline-block;
    font-size: 350%;
    width: 50%;
    margin-bottom: 10%;
}
.credits{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;
    left: 5%;
    top: 120%;
}
}}