body{
    background-image: url(../Pix/Stronger.jpg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    border: none;
    margin-top: 0;
    margin-right: 400px;
    padding: 10px;
    font-size: 40px;
}
nav {
  display: inline-block;
  padding: 15px 20px;
}
nav a {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 5px;
  border-radius: 15px;
}
nav a:hover {
  transition: 0.25s;
  cursor: pointer;
  background-color: black;
  color: white;
}
.personal{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    position: absolute;
    top: 130px;
    left: 300px;

}
table{
    background-color: rgba(255, 255, 255, 0.677);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    position: absolute;
    left: 450px;
    top: 300px;
    width: 700px;
}
.thead{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.622);
    display: inline-block;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
}
tr{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 1000px;
    height: 60px;
}
.col1{
    font-family: 'Courier New', Courier, monospace;
    min-width: 150px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 15px;
}
.credits{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;
    top: 900px;
    left: 850px;
}
@media(max-width: 480px){
    @media(max-width: 720px){
    body {
    font-size: 10px;
    background-image: url(../Pix/Stronger.jpg);
    background-color: #4b26c7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .title{
    font-size: 30px;
    display: block;
    width: 100%;
  }
  nav {
    display: inline-block;
    padding: 5% 3%;
    padding-left: 1%;
    width: 90%;
  }
  nav a {
    display: inline-block;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 3%;
    margin-right: 1%;
    width: 30%;
    border-radius: 15px;
  }
  .personal{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 5%;
}
table{
    background-color: rgba(255, 255, 255, 0.677);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 40%;
    width: 90%;
}
tr{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 89%;
    height: 60px;
}
.col1{
    font-family: 'Courier New', Courier, monospace;
    min-width: 150px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 15px;
}
.credits{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;
    left: 70%;
    top: 90%;
}
}}